aiohttp==3.6.2
dnspython==1.16.0
grpclib==0.4.1
peewee==3.13.3
prometheus-async==19.2.0
prometheus-client==0.7.1
pycryptodome==3.9.7
requests==2.24.0
toml==0.10.0
uvloop==0.14.0
hkdf==0.0.3
protobuf==3.12.2
bloom-filter==1.3
sentry-sdk==0.14.4
