aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
grpclib==0.3.1
h2==3.1.1
hpack==3.0.0
hyperframe==5.2.0
idna==2.8
multidict==4.7.3
peewee==3.13.1
protobuf==3.11.2
pycparser==2.19
raven==6.10.0
raven-aiohttp==0.7.0
requests==2.22.0
six==1.13.0
urllib3==1.25.7
uvloop==0.14.0
yarl==1.4.2