aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
grpclib==0.3.1
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
idna==2.9
multidict==4.7.4
peewee==3.13.2
protobuf==3.11.3
pycparser==2.19
raven==6.10.0
raven-aiohttp==0.7.0
requests==2.23.0
six==1.14.0
urllib3==1.25.8
uvloop==0.14.0
yarl==1.4.2
dnspython==1.16.0
prometheus_async[aiohttp]==19.2.0